.select {
	width: 276px;
	height: 56px;
	margin: 20px 0 0 60px;
	padding: 0 10px;
	color: #ffffffde;
	background: #35373a 0% 0% no-repeat padding-box;
	border-radius: 4px 4px 0px 0px;
	opacity: 1;
	box-sizing: content-box;
}
